@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');


h1 {
    color:rgb(252, 240, 240);
    font-size: 56px;
    font-family: 'Heebo';
    text-align: center;
    border: chartreuse 5px;
    padding: 25px 25px 25px 25px;
    background-color: rgba(20, 22, 22, 0.514);
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 280px;
    margin-right: 280px;

}

body {
    background-image: url(https://images.pexels.com/photos/4245826/pexels-photo-4245826.jpeg?cs=srgb&dl=pexels-riccardo-bertolo-4245826.jpg&fm=jpg);
    background-attachment: fixed;
    background-size: cover;
}


.btn {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255,255,255,0.7);
    background-color: rgba(255,255,255,0.08);
    border-color: rgba(255,255,255,0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    align-items: center;
}

.white {
    background-color:rgba(0, 0, 0, 0.726);
    color: rgb(236, 225, 225);
    padding-left: 120px;
    padding-right: 65px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 320px;
    margin-right: 320px;
    font-family: 'Original Surfer';

}

.blue {
    background-color:rgba(0, 0, 0, 0.726);
    color: rgb(236, 225, 225);
    padding-left: 120px;
    padding-right: 65px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 2px;
    margin-left: 300px;
    margin-right: 300px;
    font-family: 'Original Surfer';
}